label {
    color: skyblue;
}

input[type="text"] {
    border-color: green;
}

input[type="email"] {
    background-color: blue;
}

input[type="submit"] {
    background-color: green;
}

body {
    background-color: salmon;
}

[id*="e"] {
    font-weight: bold;
}